body {
  margin: 0; /* Remove default margin */
  height: 100vh; /* Take up full viewport height */
  display: block;
  justify-content: center; /* Align content horizontally */
  align-items: center; /* Align content vertically */
  background-color: #252525;
  overflow-x: hidden;
}

.column {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  /* background-color: rgb(44, 158, 120); */
}

.page {
  margin: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  background-color: #264d9c;
  flex-direction: column;
}

.Card {
  height: 20vh; /* Adjust the percentage as needed */
  width: 20vw;  /* Adjust the percentage as needed */
  background-color: #282c34;
  border-radius:10%;
  box-shadow: 0 0px 5px hsla(0, 0%, 100%, 0.2), 0 1px 2px hsla(0, 0%, 97%, 0.2);
  margin: 10px;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}
